footer {
  display: grid;
  background-color: var(--dark-color);
  color: #fff;
  padding: 30px;

  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

@media screen and (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;
  }
}

.small-logo {
  width: 150px;
}

.subscribe {
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  font-weight: bold;
  width: 90px;
  margin: 10px auto;
  border: none;
  color: #fff;
  padding: 8px 12px;
  background-color: var(--primary-color);
}
.email {
  padding: 8px 10px;
  width: 149px;
}
.button-contact {
  color: #fff;
  text-decoration-line: none;
}
